body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

button {
  min-width: 38px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  transition-duration: 0.4s;
  border: 1px solid gray;
  font-size: 16px;
}

input {
  font-size: 16px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid gray;
}

button:hover {
  color: white;
  background-color: gray;
}

.container {
  max-width: 600px;
  padding: 10px 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-shrink: 0;
  padding: 5px;
  border: 1px solid gray;
  margin-bottom: -1px;
}

.list-item-button {
  margin-left: 5px;
}

.done {
  text-decoration: line-through;
}

.important {
  font-weight: 700;
  color: blue;
}